<!DOCTYPE html>
{% load static %}
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cloud - Login</title>
    <link rel="shortcut icon" href="{% static 'css/assets/cloudicon.png' %}" type="image/x-icon">
    <link rel="stylesheet" href="{% static 'css/style_login.css' %}">
    <script src="{% static 'js/script.js' %}"></script>
</head>
<body>

    <!-- Início do container -->
    <div class="container">
        <label class="switch" for="modeSwitch">
            <input type="checkbox" id="modeSwitch" onclick="toggleMode()">
            <span class="slider"></span>
        </label>


        {% if user.is_authenticated%}
            <div class="containerE">
                    <h1>Tudo começa aqui!</h1>
                    <p>A inovação é a chave para desbloquear
                        novas oportunidades tecnológicas e
                        alcançar o sucesso.</p>
            </div>
            <div class="containerD">
                <img src="{% static 'css/assets/cloudicon.png' %}" alt="Logo">
                <h3>Você já está conectado como <b style="text-transform: capitalize;">{{ user.username }}.</b></h3>
                <a href="{% url 'home' %}" id="pageHome">Página Inicial</a>
                <br>
                <a href="{% url 'logout' %}" id="logout">Deslogar</a>
                <meta http-equiv='refresh' content="5;{% url 'home'%}" />
                <p>Você será redirecionado a página inicial, aguarde. </p>
            </div>

            <script>
                const count = document.querySelector(".count");
                setInterval(function () {
                count.innerHTML = count.innerHTML.replace("");
                count.innerHTML += ;
                }, 1000);
            </script>
        <!--  -->
        {%else%}
            <div class="containerE">
                <h1>Tudo começa aqui!</h1>
                <p>A inovação é a chave para desbloquear
                    novas oportunidades tecnológicas e
                    alcançar o sucesso.</p>
            </div>

            <div class="containerD">
                <img src="{% static 'css/assets/cloudicon.png' %}" alt="Logo">
                <form method="post">
                    {% csrf_token %}
                    <!-- Logo -->
                    <h1>Fazer Login</h1>
                    <!-- Campo de usuário -->
                    <label for="id_username">Usuário:</label>
                    <input type="text" name="username" id="id_username" placeholder="" required>

                    <!-- Campo de senha -->
                    <label for="id_password" id="lpass">Senha:</label>

                    <input type="password" name="password" id="id_password" placeholder="" required>
                    <!-- Opção de lembrar senha e recuperação de senha -->
                    <div class="rem">
                        <label>
                        </label>
                        <a href="{% url 'password_reset'%}" id="forget">Esqueceu a Senha?</a>
                    </div>
                    <!-- Botão de login -->
                    <button type="submit" id="enter">Entrar</button>
                </form>
                <!-- Fim do formulário de login -->
            </div>
        {%endif%}
    </div>
    <!-- Fim do container -->
<!-- Rodapé -->
<footer>
    <p>&copy; Copyright 2023 - Cloud <br>All rights reserved. Powered by the Cloud</p>
</footer>
</body>