<!DOCTYPE html>
{% load static %}
<html lang="pt-BR">
<head>
	<meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="https://cdn.materialdesignicons.com/5.4.55/css/materialdesignicons.min.css">
	<link rel="stylesheet" href="{% static 'css/style_cad.css' %}">
    <link rel="shortcut icon" href="{% static 'css/assets/cloudicon.png' %}" type="image/x-icon">
	<script src="{% static 'js/script.js' %}"></script>
    <title>Cloud - Redefinição de Senha Confirmada</title>
</head>
<body>
    <div class="container">
        <label class="switch" for="modeSwitch">
            <input type="checkbox" id="modeSwitch" onclick="toggleMode()">
            <span class="slider"></span>
        </label>

        {% if user.is_authenticated%}
            <div class="containerE">
                <h1>Tudo começa aqui!</h1>
                <p>A inovação é a chave para desbloquear
                    novas oportunidades tecnológicas e
                    alcançar o sucesso.</p>
            </div>
            <div class="containerD">
                <img src="{% static 'css/assets/cloudicon.png' %}" alt="Logo">
                <p>Você já está conectado como <b style="text-transform: capitalize;">{{ user.username }}.</b></p>
                <a href="{% url 'home' %}" id="pageHome">Página Inicial</a>
                <br>
                <a href="{% url 'logout' %}" id="logout">Deslogar</a>
                <meta http-equiv='refresh' content="3;{% url 'home'%}" />
                <p>Você será redirecionado a página inicial, aguarde.</p>
            </div>

            <script>
                const count = document.querySelector(".count");
                setInterval(function () {
                  count.innerHTML = count.innerHTML.replace("");
                  count.innerHTML += ;
                }, 1000);
            </script>

        {%else%}
        <div class="containerE">
            <h1>Tudo começa aqui!</h1>
            <p>A inovação é a chave para desbloquear
                novas oportunidades tecnológicas e
                alcançar o sucesso.</p>
        </div>
        <div class="containerD">
            <img src="{% static 'css/assets/cloudicon.png'%}" alt="Logo">
            <div class="rem2">
              <h1 id="redPassword">Insira Nova Senha</h1>
                  <form method="post">
                    {% csrf_token %}
                    <label for="{{ form.new_password1.id_for_label }}">Nova Senha:</label>
                    {{ form.new_password1 }}
                    <label for="{{ form.new_password2.id_for_label }}">Confirmar Nova Senha:</label>
                    {{ form.new_password2 }}
                      <ul>
                          <li>Senha não pode ser muito parecida com o resto das suas informações pessoais.</li>
                          <li>Sua senha precisa conter pelo menos 8 caracteres.</li>
                          <li>Sua senha não pode ser uma senha comumente utilizada.</li>
                          <li>Sua senha não pode ser inteiramente numérica.</li>
                      </ul>
                    <button type="submit" id="enter">Confirmar</button>
                  </form>
              </div>
            </div>

        {%endif%}
        </div>
        <!-- Fim do formulário de login -->

    <!-- Fim do container -->
<!-- Rodapé -->
<footer>
    <p>&copy; Copyright 2023 - Cloud <br>All rights reserved. Powered by the Cloud</p>
</footer>
</body>