<!DOCTYPE html>
{% load static %}
<html lang="pt-br">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/style_up.css' %}">
    <link rel="shortcut icon" href="{% static 'css/assets/cloudicon.png' %}" type="image/x-icon">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
    <link rel="stylesheet" href="https://cdn.materialdesignicons.com/5.4.55/css/materialdesignicons.min.css">
    <script src="{% static 'js/script.js' %}"></script>
    <title>Cloud - Atualizar Fornecedor</title>
  </head>
  <body>
    <!-- Start - Menu Superior-->
    <header>
      <nav>
        <ul class="left-menu">
          <img src="{% static 'css/assets/cloudlogo.png'%}" alt="">
          <li>
            <a href="{%url 'home' %}" class="">Página Inicial</a>
          </li>
          <li>
            <a href="{%url 'schedulesDisplay' %}" class="">Agendamentos</a>
          </li>
          <li>
            <a href="{%url 'vehiclesListDisplay' %}" class="">Veículos</a>
          </li>
          <li>
            <a href="{%url 'companyListDisplay' %}" class="">Empresas</a>
          </li>
          <li>
            <a href="{%url 'companyShippingListDisplay' %}" class="">Transportadoras</a>
          </li>
          <li>
            <a href="{%url 'companySupplierListDisplay' %}" class="active">Fornecedores</a>
          </li>
          <li>
            <a href="{%url 'nfeListDisplay' %}" class="">Nfe</a>
          </li>
        </ul>
        <ul class="right-menu">
            <li class="dropdownR">
                <a href="#" id="usernamedp">
                    <i class="mdi mdi-account-circle avatar"></i> {{user.first_name}}
                </a>
                <div class="dropdownR-options">
                    <ul>
                        <li><a href="#">Trocar Senha</a></li>
                        <li><a href="#">Sobre</a></li>
                        <li><a href="{% url 'logout' %}">Sair</a></li>
                    </ul>
                </div>
            </li>
              </ul>
            </div>
          </li>
        </ul>
      </nav>
    </header>

    <!-- Menu Superior-->

    <div class="container">
      <!-- Conteudo do Filtro -->
      <div class="containerE">

        <div class="container_Filtro">

          <form method="post">
              {% csrf_token %}

                <div>
                {{ form }}
                </div>
                          <button type="submit">Salvar</button>
            </form>
        <div class="container_Filtro">

          <form method="post">
            {% csrf_token %}
                <div>
                {{ form_a }}
                </div>
                <div>
                {{ form_b }}
                </div>

              <button type="submit">Salvar</button>
          </form>
        </div>
      </div>
      </div>
      </div>

      <!-- Rodapé Menu de Páginas -->
      <div class="sun">
        <div class="switch">
          <label class="switch" for="modeSwitch">
            <input type="checkbox" id="modeSwitch" onclick="toggleMode()">
            <span class="slider"></span>
          </label>
        </div>
      </div>
    </div>

  </body>
</html>